*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$first: #00adef;
$second: #f2f9fb;
$gray: #afafaf;
$white: #ffffffff;
$gradient: linear-gradient(0deg, #00adef 0%, rgba(135,206,250,0.01) 100%);

:root{
    --first-color: #{$first}; 
    --second-color: #{$second}; 
    --gray-color: #{$gray};
    --white-color: #{$white};
    --gradient-color: #{$gradient};
}

/*======================== RESPONSIVE ==========================*/

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

/*======================== SCROLLBAR ==========================*/
::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background-color: hsl(0, 0%, 100%);
    border-radius: 100vw;
    margin-block: .1em;
}
::-webkit-scrollbar-thumb{
    background-color: hsl(197, 100%, 47%);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 100vw;

}
/*======================== REGISTER + LOGIN ==========================*/

.formContaner{
    background: var(--gradient-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper{
        background-color: var(--white-color);
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 4);

        .logo{
            width: 100px;
            height: 100px;    
        }

        .title{
            color: var(--first-color);
            font-weight: bold;
            font-size: 24px;
        }

        .subtitle{
            color: var(--first-color);
            font-size: 12px;
        }

            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

                input:focus{
                    outline-style: none;
                    box-shadow: none;
                }

                input{
                    padding: 15px;
                    width: 250px;
                    border: none;
                    border-bottom: 1px solid var(--first-color);
                &::placeholder{
                    color:var(--gray-color);
                }
                }

                button{
                    background-color: var(--first-color);
                    color: var(--white-color);
                    padding: 10px;
                    border-radius: 10px;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                }
                
                label{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    color: var(--first-color);
                    cursor: pointer;

                    img{
                        width: 32px;
                    }
                }

                p{
                    color: var(--first-color);
                    font-size: 12px;
                    margin-top: 10px;
                }

    }
}

/*======================== HOME ==========================*/

.home{
    background: var(--gradient-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        border: 1px solid var(--white-color);
        border-radius: 10px;
        overflow: hidden;
        width: 65%;
        height: 80%;
        display: flex;

/*======================== SIDEBAR ==========================*/
        .sidebar{
            flex: 1;
            background-color: var(--second-color);
            color: var(--first-color);
            .navbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--white-color);
                height: 8%;
                padding: 5%;
                color: var(--first-color);

                .logo{
                    width: 30px;
                }
                .user{
                    display: flex;
                    gap: 10px;
                }
                .user_image{
                    background-color: var(--white-color);
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                button{
                    background-color: var(--first-color);
                    color: var(--white-color);
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 10px;
                }
            }
/*======================== SEARCH ==========================*/

            .search{

                .searchForm{
                    padding: 10px;

                    
                    input:focus{
                        outline-style: none;
                        box-shadow: none;
                    }
                    input{
                        padding: 10px;
                        border-radius: 10px;
                        background-color: var(--first-color);
                        border: none;
                        border-bottom: 1px solid var(--first-color) ;
                        color: var(--white-color);
                        &::placeholder{
                            color: var(--white-color);
                        }
                    }
                }
            }

            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--first-color);
                cursor: pointer;

                &:hover{
                    background-color: var(--white-color);
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 14px;
                        color: var(--gray-color);
                    }
                }
            }

        }
        
/*======================== CHAT ==========================*/
        .chat{
            flex: 2;

            .chatInfo{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                padding: 10px;
                background-color: var(--first-color);
                color: var(--white-color);
            }

            .chatIcons{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    height: 25px;
                    cursor: pointer;
                }
            }

/*======================== MESSAGES ==========================*/
            .messages{
                padding: 10px;
                height: calc(100% - 100px);
                overflow: scroll;
                overflow-x: hidden;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: var(--gray-color);
                        font-weight: 300;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: var(--white-color);
                            color: var(--first-color);
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }

                    &.first__user{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            
                            p{
                                background-color: var(--first-color);
                                color: var(--white-color);
                                padding: 10px 20px;
                                border-radius: 10px 0px 10px 10px;  
                            }
                        }
                    }
                }
            }

/*======================== INPUT ==========================*/
            .input{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                background-color: var(--second-color);
                padding: 10px;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: var(--first-color);
                    font-size: 18px;
                &::placeholder{
                    color: var(--gray-color);
                }
                }

                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        height: 24px;
                        width: 24px;
                        cursor: pointer;
                    }

                    button{
                        background-color: var(--first-color);
                        color: var(--white-color);
                        border: none;
                        border-radius: 10px;
                        padding: 10px 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}