*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-color: #00adef; 
    --second-color: #046ca4; 
    --third-color: #dad9c5;
    --fourth-color: #afafaf;
    --five-color: #005e90;
    --white-color: white;
    --gradient-color: linear-gradient(0deg, #00adef 0%, rgba(135,206,250,0.01) 100%);
}
/*======================== REGISTER + LOGIN ==========================*/

.formContaner{
    background: var(--gradient-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper{
        background-color: var(--white-color);
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 4);

        .logo{
            width: 100px;
            height: 100px;    
        }

        .title{
            color: var(--first-color);
            font-weight: bold;
            font-size: 24px;
        }

        .subtitle{
            color: var(--first-color);
            font-size: 12px;
        }

            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

                input:focus{
                    outline-style: none;
                    box-shadow: none;
                }

                input{
                    padding: 15px;
                    width: 250px;
                    border: none;
                    border-bottom: 1px solid var(--first-color);
                &::placeholder{
                    color:var(--fourth-color);
                }
                }

                button{
                    background-color: var(--first-color);
                    color: var(--white-color);
                    padding: 10px;
                    border-radius: 10px;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                }
                
                label{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;
                    color: var(--first-color);
                    cursor: pointer;

                    img{
                        width: 32px;
                    }
                }

                p{
                    color: var(--first-color);
                    font-size: 12px;
                    margin-top: 10px;
                }

    }
}

/*======================== HOME ==========================*/

.home{
    background: var(--gradient-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        border: 1px solid var(--white-color);
        border-radius: 10px;
        overflow: hidden;
        width: 65%;
        height: 80%;
        display: flex;

/*======================== SIDEBAR ==========================*/
        .sidebar{
            flex: 1;
            background-color: var(--second-color);
            color: var(--third-color);
            .navbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--white-color);
                height: 8%;
                padding: 5%;
                color: var(--second-color);

                .logo{
                    width: 30px;
                }
                .user{
                    display: flex;
                    gap: 10px;
                }
                .user_image{
                    background-color: var(--third-color);
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                button{
                    background-color: var(--second-color);
                    color: var(--third-color);
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                }
            }
/*======================== SEARCH ==========================*/

            .search{
                border-bottom: 1px solid var(--third-color);

                .searchForm{
                    padding: 10px;

                    
                    input:focus{
                        outline-style: none;
                        box-shadow: none;
                    }
                    input{
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid var(--third-color) ;
                        color: var(--white-color);
                        &::placeholder{
                            color: var(--third-color);
                        }
                    }
                }
            }

            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--white-color);
                cursor: pointer;

                &:hover{
                    background-color: var(--five-color);
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

        }
        
/*======================== CHAT ==========================*/
        .chat{
            flex: 2;
            background-color: var(--third-color);
            color: var(--second-color);
        }
    }
}